
<a data-remodal-target="modal" class="btn">Call the modal with data-remodal-id="modal"</a>

<div class="remodal" data-remodal-id="modal">
    <h1>Remodal</h1>
    <p>
      Flat, responsive, lightweight, fast, easy customizable modal window plugin
      with declarative state notation and hash tracking.
    </p>
    <br>
    <a class="remodal-cancel" href="#">Cancel</a>
    <a class="remodal-confirm" href="#">OK</a>
    <%= link_to "submit", "/remodal", remote: true, class: "btn" %>
</div>
