<div class="banner">
    <ul>
        <li style="background-image: url(http://college-social.com/content/uploads/sites/22/2014/02/Greek-Yogurt-Waffles.jpg)">
          <h1>Waffles</h1>
          <p>Free for all.</p>
          <a href="#">A human right</a>
        </li>
        <li style="background-image: url(http://hempbeach.com/wp-content/uploads/2011/12/Marijuana-Waffles-hemp-beach-tv-hbtv.jpg)">This is another slide.</li>
        <li style="background-image: url(http://2.bp.blogspot.com/_eAnQwEdz8WA/St39VGj-wLI/AAAAAAAAAas/X6Scgc7Bq7c/s1600/Waffle-05.jpg)">This is a final slide.</li>
    </ul>
</div>
